MINIO_ROOT_USER=ranadmin
MINIO_ROOT_PASSWORD=ranpassword

POSTGRES_DB=ran_meta
POSTGRES_USER=ran_user
POSTGRES_PASSWORD=ran_password

# Future runtime switches
DATA_ENGINE=duckdb
DATA_LAKE_URI=s3a://ran-silver
SPARK_MASTER_URL=spark://localhost:7077
REDIS_URL=redis://localhost:6379/0
